body
{
	width:100%;
	margin:0;
	height:100%;
	font-family: "arial";	
	text-align: center;
	background:none;
}

/* Form related */

#formSection
{
	margin-top:5%; 
}

#formSummonerName > div:nth-child(2)
{
	display:block;
	width:2.5%;
	overflow: hidden;
	padding:0.2%;	
	border:1px solid #66FF99 ;
	margin-left:48.75%;
}

#formSummonerName label
{
	display:block;
	font-size: 3em;
	margin-bottom: 2%;
}

#labelNotFound
{
	display:none;
}

input
{
	background-color:rgba(77,105,255,0.3);
	border:1px solid #0000C4;
	font-size: 3em;
	border-radius: 5px;
	color:#F8F8F8;
	text-align: center;
}

input:hover
{
	background-color:rgba(77,105,255,0.1);
}

input:focus
{
	background-color:rgba(77,105,255,0.1);
	border:1px solid #0000C4;
	color:#F8F8F8;
}

.field 
{
    padding: 1%;
  	 width:90%;
  	 display:inline-block;
}

/* Used for the select html tag for selecting the regions (overload bootstrap class) */
.form-control
{
	width:200%;
	padding:5%;
   background: rgba(0,0,255,0.3);
   color:white;
   border-radius: 0;
   border:none;
   -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   cursor:pointer;   
}

.form-control > option:hover
{
	background-color: rgba(0,136,181,0.7);
}

.form-control > option

/* Hidden and errors */

.error > input
{
    border-color: #FF6161;
}

.error_msg 
{
    color:#FF3333;
    font-size: 3em;
}

.hidden
{
	display:none;
	width:0%;
	height: 0%;
	font-size: 0%;
}

button[type="submit"] 
{
	display:none;   
}

::-moz-selection { /* Code for Firefox */
    color: red;
    background: black;
}

::selection {
    color: yellow;
    background: yellow;
}





/* loader animation */

#loaderWrapper
{
	display :inline-block;
	margin-top:15%;
}

.send {
	position:absolute;
	margin: 0 auto;
}

.send-button {
	position: absolute;
	left: 50%;
	top: 50%;
	background: #38b074;
	border: none;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-top: -40px;
	margin-left: -40px;
	color: #fff;
	font-size: 30px;
	padding: 0;
	overflow: hidden;
}

.sent-bg{
	background: #38b074;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.send-icon {
	font-size: 28px;
	position: relative;
	margin: -2px 0 0 -2px;
}

.sent-icon {
	display: none;
}

.send-indicator {
/*	position: absolute; */
	margin-left:50%;
	margin-top: 20%;
	margin-bottom: 20%;
	opacity: 0;
}

.send-indicator-dot {
	position: absolute;
	background: #38b074;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	left:49%;
	top:35%;
}

#gameListSection{
	float:left;
}

.servRegion
{
	margin-top: 1%;
	margin-left: 1%;
	padding:1%;
	border:1px solid green;
	border-radius: 10px;
	font-size: 2em;
}

.summonerInformation
{
	display:block;
}

.summonerInformation > p
{
	margin:0;
	padding: 0;
	display:block;
}

/*
	Format table
*/
#tabs
{
	float:right;
	width:66%;
	margin-left:1%;
	margin-right:10%;
}


#recentGameslist
{
	background:blue;
	padding:0.1%;
}

#recentGameslist > ul
{
	margin: 0%;
	padding:0.1%;
	background:purple;
}

.SingleRecentGame
{
	background: yellow;
	text-align: center;
	margin:0;
	padding:1%;
}

#recGame_globalStats
{
	margin: 0;
	padding: 1%;
	text-align: left;
	background: orange;
}

.teamLabel.side100
{
	color : blue;
}

.teamLabel.side200
{
	color : red;
}

.teamArea.side100
{
	background:lightblue;
}

.teamArea.side200
{
	background:rgba(180,0,0,1);
}

.singleRecentGame
{
	background:grey;
}

#recGame_fellowPlayers,
#summoner
{
	text-align: initial;
	width:100%;
	font-size: 0.8em;
}

#recGame_fellowPlayers > img
{
	display: inline-block;
	margin: 0;
	padding: 0;
}

#recGame_fellowPlayers > label
{
	display: inline-block;
	margin-left: 5%;
	margin-top: -20%;
}

.table
{
	margin:0;
}

#SummonerTeam
{
	position: relative;
	width:40%;
	float:left;
}

#EnnemyTeam
{
	position:relative;
	width:40%;
	float:right;
}

.item img
{
	width:100%;
	height:100%;
}

.tagWin.winnfalse
{
	background : red;
}

.tagWin.winntrue
{
	background: green;
}

hr
{
	border:3px solid yellow;
}

.singleRecentGame:hover:not(.selectedItem)
{
	background: yellow;
}

.selectedItem
{
	background: blue;
}