<h1>Overview</h1>	
<div id="gameListSection">
	<a ng-click='createListFromSelection()'>Create list</a>
	<!-- display list of game lists -->
	<div id='gameListPanel'>
		<ul>
			<li ng-repeat='list in gameLists'>
				<div ng-click='renderList(list)'>{{list.name}}</div>
			</li>
			<li>
				<div class='list' id='listName_id2'>
					<a class='listName2'>Listname</a>
					<a href='#' class='deleteList'>Delete</a>
					<a href='#' class='modifyList'>Modify</a>
				</div>
			</li>
		</ul>
	</div>
	<a href='#'>Delete selected list(s)</a>
</div>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Recent Games</a></li>
    <li><a href="#tabs-2"></a></li>
    <li><a href="#tabs-3"></a></li>
  </ul>
  <div id="tabs-1">
  	<div id="recentGameslist">
	    <ul>
	    	<li class="singleRecentGame" id='{{game.gameId}}' ng-click='selectSingleGame($event)' ng-repeat="game in recentGameData.games | limitTo:limitDisplayRecentGame">
	    		<div class="tagWin" ng-click='$event.stopPropagation()' ng-class="{ 'winn{{game.stats.win}}' : true }">{{ getWin(game.stats.win) }}</div>
	    
    			<div id='GameOverview' style='height:45%'>
	    			<table style='width:100%'>
	    				<div class='teamArea' id="SummonerTeam" ng-class=" { 'side{{game.teamId}}' : {{game.teamId}} }">
	    					<th>
	    						<label style='display : inline ;' class='teamLabel' ng-class="{ 'side{{game.teamId}}' :  {{game.teamId}} }">{{ userName[recentGameData.summonerId] }}</label>
	    						<div id="SummonerKda" style='display :inline-block'>(
	    							<div id='killed' style='display:inline; color : lightgreen '>{{ game.stats.championsKilled }}</div>
	    							/
	    							<div id='deaths' style='display:inline; color : red'>{{ game.stats.numDeaths }}</div>
	    							/
	    							<div id='assists' style='display:inline; color: yellow'>{{ game.stats.assists }}</div>
	    							)
	    							<div id='kda' style='display:inline'> ->
	    								<div style='display:inline; color : lightgreen'>K</div>
	    								<div style='display:inline; color : red'>D</div>
	    								<div style='display:inline; color : yellow'>A</div>
	    								: {{ getKda(game.stats) }}</div>
	    						</div>
	    					</th>
	    					<tr style='display:table; width:100%'>
	    						<td>
	    							<label>{{ game.stats.level }}</level>
	    						</td>
				    			<td>
				    				<img style=' display : inline ; width:50px;height=50px;' ng-src="{{getChampionIcon(game.championId)}}"/>
				    			</td>
				    			<td>
				    				<label style='display:inherit'>{{ game.stats.goldEarned }}</label>
				    				<img src='http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png'/>
				    			</td>
				    			<td>
				    				<label style='display:inherit'>{{ game.stats.minionsKilled }}</label>
				    				<img src='http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png'/>
				    			</td>
				    			<td>
				    				<div id='spells' style='display:table-caption'>
					    				<img src='http://ddragon.leagueoflegends.com/cdn/5.22.3/img/spell/SummonerFlash.png' style='width:40px;height=40px;display:inline;margin-bottom:40%;'/>
					    				<img src='http://ddragon.leagueoflegends.com/cdn/5.22.3/img/spell/SummonerFlash.png' style='width:40px;height=40px;display:inline'/>
					    			</div>
				    			</td>
				    			<td>
				    				<div id='items' style='display : table;'>
					    				<div id="firstRowItems" style='display : table;'>
						    				<div class='item' id='item0' style='display : inline-block;'>
							    				<div style='border: 3px solid black; width:40px;height:40px; display : inline-block;'>
								    				<img ng-if="isValid(game.stats.item0)" ng-src="{{ getItem(game.stats.item0) }}"/>
								    			</div>
								    		</div>
								    		
						    				<div class='item' id='item1' style='display : inline-block;'>	
												<div style='border: 3px solid black; width:40px;height:40px; display : inline-block'>
								    				<img ng-if="isValid(game.stats.item1)" ng-src="{{ getItem(game.stats.item1) }}"/>
								    			</div>
								    		</div>
											
											<div class='item' id='item2' style=' display : inline-block'>	
												<div style='border: 3px solid black; width:40px;height:40px; display : inline-block'>
						    						<img ng-if="isValid(game.stats.item2)" ng-src="{{ getItem(game.stats.item2) }}"/>
						    					</div>
						    				</div>
					    				</div>

					    				<div id="secondRowItems" style='display : table;'>
						    				<div class='item' id='item3' style=' display : inline-block'>	
												<div style='border: 3px solid black; width:40px;height:40px;display : inline-block;'>
								    				<img ng-if="isValid(game.stats.item3)" ng-src="{{ getItem(game.stats.item3) }}"/>
								    			</div>
								    		</div>
						
											<div class='item' id='item4' style=' display : inline-block'>	
												<div style='border: 3px solid black; width:40px;height:40px;display : inline-block;'>		    				
						    						<img ng-if="isValid(game.stats.item4)" ng-src="{{ getItem(game.stats.item4) }}"/>
						    					</div>
						    				</div>
						    				
						    				<div class='item' id='item5' style=' display : inline-block'>	
												<div style='border: 3px solid black; width:40px;height:40px;display : inline-block;'>
								    				<img ng-if="isValid(game.stats.item5)" ng-src="{{ getItem(game.stats.item5) }}"/>
								    			</div>
								    		</div>
										</div>

									</div>				    			
				    			</td>
				    			<td>
									<div class='item' id='item6' style=' display : inline-block'>	
										<div style='border: 3px solid black; width:40px;height:40px;display : inline-block;'>		    				
				    						<img ng-if="isValid(game.stats.item6)" ng-src="{{ getItem(game.stats.item6) }}"/>
				    					</div>
				    				</div>
				    			</td>
				    			<td>
				    				<div class='table' id='recGame_fellowPlayers'>
				    					<img style=' display : inline ; width:50px;height=50px;' ng-src="{{getChampionIcon(game.championId)}}"/>
				    					<label class='teamLabel' ng-class="{ 'side{{game.teamId}}' :  {{game.teamId}} }" >{{ userName[recentGameData.summonerId] }}</label>
				    				</div>
						    		<div class='table' ng-repeat="fellowPlayer in game.fellowPlayers | filter: { teamId : game.teamId }" id='recGame_fellowPlayers'>		
				   						<img style=' display : inline ; width:50px;height=50px;' ng-src="{{getChampionIcon(fellowPlayer.championId)}}"/>
				   						<label class='teamLabel' ng-class="{ 'side{{fellowPlayer.teamId}}' :  {{fellowPlayer.teamId}} }">{{ userName[fellowPlayer.	summonerId] }}</label>
				   					</div>
			   					</td>
			   					<td>
									<div class='table' ng-repeat="fellowPlayer in game.fellowPlayers | filter: { teamId : '!' + game.teamId }" id='recGame_fellowPlayers'>
						   				<img style=' display : inline ; width:50px;height=50px;' ng-src="{{getChampionIcon(fellowPlayer.championId)}}"/>
						   				<label class='teamLabel' ng-class="{ 'side{{fellowPlayer.teamId}}' :  {{fellowPlayer.teamId}} }">{{ userName[fellowPlayer.	summonerId] }}</label>
							    	</div>
			   					</td>
			   				</tr>
			   				</tr>
				    	</div>
				    </table>
				</div>			    	
			<hr>
	    	</li>
    	</ul>
	</div>
  </div>
  <div id="tabs-2">
    <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
  </div>
  <div id="tabs-3">
    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
  </div>
</div>

<script>
  	$(function() {
 		$( "#tabs" ).tabs();
	});
</script>
