<div id="loaderWrapper">
	<div class="send">
		<div class="send-indicator" style='visibility : hidden'>
			<div class="send-indicator-dot">.</div>
			<div class="send-indicator-dot">.</div>
			<div class="send-indicator-dot"></div>
			<div class="send-indicator-dot"></div>
			<div class="send-indicator-dot"></div>
			<div class="send-indicator-dot"></div>
			<div class="send-indicator-dot"></div>
			<div class="send-indicator-dot"></div>
			<div class="send-indicator-dot"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="javascripts/loader.js"></script>

<div id="formSection">
	<div id="formSummonerName">
		<label>Summoner name</label>
		<input type="text" id="summonerName" ng-keydown=search($event) />
	</div>
	<div id="regionSelection">
		<p class="servRegion" style="display:inline-block">BR</p>
		<p class="servRegion" style="display:inline-block">EUNE</p>
		<p class="servRegion" id="selectedRegion" style="display:inline-block">EUW</p>
		<p class="servRegion" style="display:inline-block">KR</p>
		<p class="servRegion" style="display:inline-block">LAN</p>
		<p class="servRegion" style="display:inline-block">LAS</p>
		<p class="servRegion" style="display:inline-block">NA</p>	
		<p class="servRegion" style="display:inline-block">OCE</p>
		<p class="servRegion" style="display:inline-block">RU</p>
		<p class="servRegion" style="display:inline-block">TR</p>
	</div>
	<!-- run manually the script for the region selection -->
	<script type="text/javascript" src="javascripts/TweenMax.min.js"></script>
	<script type="text/javascript" src="javascripts/regionSelection.js"></script>
	<script>
		regionSelection();
	</script>
	<!-- label that shows up when the summoner was not found -->
	<p class="error_msg" id="labelNotFound">Summoner not found</p>
</div>